*{
    margin: 0;
    border: none;
}

.container{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 2rem;
}

.logo_img {
    width: 50%;
    opacity: 0.9;
}

.title__group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.alert__group {
    display: flex;

    margin: 2rem 0;
}
.alert__span {
    width: 100%;
    background-color: #DBC2CF;
    color: red;
    text-align: center;

    padding: 1rem 0;
}

.error__group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5rem;
}

.error__span {
    color: red;
    font-size: 0.7rem;
}

.title__group h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.title__group h2 {
    font-size: 1rem;
}

.form__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 0;
}

.form__imput {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 10px;
}

.button__group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.submit__button {
    width: 70%;
    padding: 0.5rem 0;
    border-radius: 10px;
    background-color: #DBC2CF;
}

.reset__group {
    display: flex;
    justify-content: flex-end;
    padding: 0.7rem;
}

.register__group {
    padding: 0.5rem;
}

@media (min-width: 600px) {
    .wrapper__form {
        width: 25%;
    }
}