.contentWindow {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 2, 1);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000;
}
.windows {
  width: 200px;
  height: 200px;
  margin-bottom: 100px;
}