.listEvents__ul {
    max-width: 56.25rem;
    margin: auto;
    background-color: #3C7A89;

    margin-top: 9.375rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
}

.listEvents__li {
    border: 2px solid grey;
    border-radius: 3px;
    background-color: white;
    list-style-type: none;

    margin: auto;
    max-width: 80%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;

}

.listEvents__li--entete {
    text-align: center;
    font-weight: bold;
    padding-bottom: 0.5rem;
}
.listEvents__li--entete>div:first-child{
    padding-bottom: 0.5rem;
}


@media screen and (min-width: 950px) {
    .listEvents__li--entete{
        display: flex;
        justify-content: space-between;
    }
   
  }