/*  FONTS */
/* @import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,600;1,400&display=swap');
@font-face {
    font-family: 'Arimo', sans-serif;
    src: url();
}

@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400&display=swap');
@font-face {
    font-family: 'Istok Web', sans-serif;
    src: url();
}

@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400&family=Nunito+Sans:ital,wght@0,200;0,400;0,600;1,400&display=swap');
@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url();
} */



/** VARIABLES CSS **/
:root{
    --main-color: #3C7A89;
    --sec-color:#16262e ;
    --third-color:#dbc2cf;
    --bg-color: #EDECEC;

    

}


.listEvents__ul {
    max-width: 56.25rem;
    background-color: #3C7A89;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    padding-bottom: 1rem;
    padding-left: 0;
    border-radius: 2rem;
}

/* sur le format mobile, la liste n'est pas réduite à gauche , c'est soit un bouton, soit elle est affichée complètement */
.listEvents__ul--reduced {
    display: none;
}
.listEvents__ul--button{
    display: none;
}
.listEvents__li {
    border: 2px solid grey;
    border-radius: 2rem;
    background-color: white;
    list-style-type: none;

    margin: auto;
    max-width: 80%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;

    cursor: pointer;
}

.listEvents__li--entete {
    text-align: center;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.listEvents__li--entete>div:first-child {
    padding-bottom: 0.5rem;
}

/* placement de l'evenement selectionné à droite de la liste des evts*/
.listEvents {
    display: flex;
}
.listEvents__button{
    display: flex;
    justify-content: space-evenly;
   
    
}
.listEvents__button button{
    cursor: pointer;
    border-radius: 00.2rem;
}
.ListEvents__slide--button {
    background-color: #DBC2CF;
    margin-top: 20rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 20vh;
    width: 3.125rem;
}

@media screen and (min-width: 950px) {
    .listEvents__ul {
        margin: auto;
        padding-top: 1rem;
    }

    /* début switch de l'affichage de l'evenement */
    .listEvents__ul--reduced {
        background-color: #3C7A89;
        padding: 10px;
        max-width: 326px;
        margin-top: 2rem;
        margin-left: 1rem;
        display: block;
        border-radius: 0.2rem;

        height: 98vh; 
        overflow: scroll;
    }

    .listEvents__ul--button {
        width: 0;
        display: none;
    }

    .ListEvents__slide--button {
        margin-left: 0;
    }

    .listEvents__li--entete>p:last-child {
        padding-top: 0.5rem;
    }

    /* masquer le paragraphe quand la liste des evts est réduite à gauche */
    .listEvents__ul--display {
        display: none;
    }

    /* fin switch de l'affichage de l'evenement */

}