.listEvents{
    border: 1px solid red;

    max-width: 56.25rem;
    margin: auto;
    background-color: #3C7A89;
}
.listEvents__ul{
    margin-top: 0;
    
    padding: 0;
    
}
.listEvents__li {
    border: 2px solid green;
    background-color: white;
    list-style-type: none; 

    max-width: 80%;
    margin: auto;

}
.listEvents__li--entete{
    display: flex;
    justify-content: space-around;
    
}