

.leaflet-container {
    width: 100vw;
    height: 30vh;
}

.map__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 1.5rem 0.5rem;
}

@media (min-width: 600px) {
    .leaflet-container {
        width: 50vw;
        height: 50vh;
    }
}